body, p, div, span, a {
    font-family: monospace;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

body {
    background-color: #f9f9f9;
}